.single-card-page {
  margin: 20px;

  div {
    margin-bottom: 20px;
  }

  button {
    border: 1px solid #1e80ff;
    color: #1e80ff;
    background: #fff;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
  }
}